
/* mobile */
@media (max-width: 46.1875em){
    
    #header {
        overflow: hidden;
    }
    #nav{
        display: block;
        
    }
    #nav > li {
        display: block;
    }
    #nav li a {
        padding: 1px 24px;
    }
    #nav > li:first-child {
        display: inline-block;
    }
    #nav .subnav{
        position: initial;
    }
    #nav .subnav a{
        padding: 5px 41px;
    }
    #header .search-button{
        display:  none;
    }
    #content .member-item{
        margin-top: 30px;
        width: 50%;
    }
    .contact-info {
        font-size: 14px;
    }
    #content .member-img {
        margin-top: 19px;
    }
    .s-col-full,
    .s-full-width{
        width: 100% !important;
    }
    .s-mt-8{
        margin-top: 8px !important;
    }
    .contact-form{
        margin-top: 16px;
    }
    .contact-info{
        line-height: 2;
    }
    #footer .socials-list{
        font-size: 42px;
    }
    
}
@media (max-width: 63.9375em){
    .Btn{
        padding: 15px 16px;
    }
    #footer .socials-list{
        font-size: 40px;
    }#footer .socials-list a{
        padding: 0 8px;
    }
    #nav .subnav a{
        padding: 5px 12px;
    }
    .contact-info{
        line-height: 2;
    }
    .contact-form {
        font-size: 32px;
    }
}
@media (min-width: 46.25em){
    #header .menu-buton{
        display: none;
    }
}